<style>
  .complete {
  text-decoration: line-through;
}
</style>
<h1>To do:</h1>
<form name="mark-complete" action="/todolist" method="POST">
<% @list.each do |item| %>
  <DIV>
  <% if item.deadline.nil? %>
    <p class="<%= Helper.complete?(item) %>"><%= item.name %> <input type="checkbox" id="<%= item.name %>" name="name[]" value="<%= item.name %>"> Complete?<br> </p>
  <% else %>
    <p class="<%= Helper.complete?(item) %>"><%= item.name %> by <%= item.deadline %> <input type="checkbox" name="name[]" value="<%= item.name %>"> Complete?<br> </p>
  <% end %>
  </DIV>
<% end %>
<input type="submit" value="Update">
</form>

<a href='/add-item-input'> Add an item</a>
